.card-content {
	text-align: center;
}

.card-action {
	text-align: center;
}

#settings {
	position: absolute;
	margin-left: 100px;
	& i {
		position: absolute;
		top: 0;
		left: 0;
	}
}

#restart {
	position: absolute;
	left: 25px;
}